<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Medilabo Solutions</title>
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-6">

    </div>
    <div class="col-6 text-right">
     <a href="/logout">Logout</a>
    </div>
  </div>
  <div class="row"><h2>Patient List</h2></div>
  <div class="row">
    <a href="/patient/add" class="btn btn-primary btn-sm">Add New</a>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Date of birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="patient : ${patients}">
        <td style="width: 10%" th:text="${patient.id}"></td>
        <td th:text="${patient.firstName}"></td>
        <td th:text="${patient.lastName}"></td>
        <td th:text="${patient.dateOfBirth}"></td>
        <td th:text="${patient.gender}"></td>
        <td th:text="${patient.address}"></td>
        <td th:text="${patient.phoneNumber}"></td>
        <td style="width: 15%" class="text-center">
          <a th:href="@{/patient/display(patientId=${patient.id})}">View</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>